body {
    background-color: grey;
    margin-left: auto;
    margin-right: auto;
}

form {
    font-size: 15px;
    font-family: sans-serif;
    background-color: whitesmoke;
    padding: 15px;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}

input {
    margin-left: 20px;
    margin-top: 5px;
}

label {
    width: 130px;
    font-size: 14px;
    display: inline-table;
    padding: 10px;
    margin: 5px 5px 5px 20%;
}

.buttons {
    padding: 7px 15px;
    margin-left: 20%;
    color: white;
    background: linear-gradient(#00BF00, #008F00);
    font-size: 14px;
    border-radius: 25px;
    width: 15%;
    min-width: 100px;
}

.txt {
    width: 30%;
}

.txt:focus {
    border-color: greenyellow;
}