html {
    background-color: grey;
    font-family: sans-serif;
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;
}

form {
    background-color: whitesmoke;
}

img {
    width: 30px;
    height: 30px;
    padding-right: 20px;
}

label {
    width: 250px;
    font-size: 14px;
    display: inline-table;
    padding: 10px 5%;
    margin: 15px 30px;
}

#userLine {
    display: inline-table;
    width: 100%;
    height: 40px;
    padding-top: 10px;
}

span {
    margin-top: 10px;
    padding-top: 10px;
    margin-left: 20px;
}

#ingredientsLine {
    width: 61%;
    display: inline-block;
    margin-left: 19%;
    margin-right: 19%;
}

.fillingHistory {
    width: auto;
    margin-left: 15%;
}

input {
    width: 190px;
}

.buttons {
    width: 25%;
    min-width: 180px;
    color: white;
    background: linear-gradient(#00BF00, #008F00);
    min-font-size: 10px;
    font-size: 14px;
    border-radius: 25px;
    height: 40px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.buttons:disabled {
    background: #dddddd;
    color: black;
}

fieldset {
    border: none;
}

.userLineAttr {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    height: 30px;
}