html {
    background-color: grey;
    font-family: sans-serif;
    padding: 0px;
    margin: 0px;
}

body {
    padding: 0px;
    margin: 0px;
}

form {
    background-color: whitesmoke;
}

aside {
    background-color: #DFD5CD;
    width: 19%;
    height: 100%;
    float: left;
    margin-right: 1%;
}

aside form {
    background-color: #DFD5CD;
}

main {
    margin-left: 0;
}

#coffeeForm {
    width: 79%;
    display: inline-block;
    margin-left: 0;
    margin-right: 0;
}

.buttons {
    width: 29%;
    margin: 15px 10% 15px 10%;
    color: white;
    background: linear-gradient(#00BF00, #008F00);
    font-size: 14px;
    border-radius: 25px;
    height: 40px;
}

.buttons:disabled {
    background: #dddddd;
    color: black;
}

#submitFilter {
    width: 60%;
    margin-top: 5%;
    margin-left: 20%;
}

img {
    width: 30px;
    height: 30px;
    margin-top: 10px;
    padding-right: 20px;
}

span {
    margin-left: 20%;
    margin-top: 10px;
    margin-bottom: 10px;
}

#userLine {
    display: inline-table;
    width: 100%;
}

#gotoPA {
    margin-left: 20px;
}

.userLineAttr {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 30px;
}

#sugar {
    margin-left: 20%;
}
