html {
    margin: 0;
    background-color: grey;
}

body {
    margin: 12% 0 0 0;
    background-color: whitesmoke;
}

fieldset {
    text-align: center;
    border: none;
    font-size: 19px;
}

input {
    background: linear-gradient(#00BF00, #008F00);
    color: white;
    font-size: 16px;
    border-radius: 25px;
    min-width: 200px;
    min-height: 40px;
}