html {
    background-color: grey;
    font-family: sans-serif;
    padding: 0px;
    margin: 0px;
}

body {
    padding: 0px;
    margin: 0px;
}

form {
    background-color: whitesmoke;
}

#fillingsHistory {
    background-color: whitesmoke;
    display: inline-table;
    width: 100%;
    height: 40px;
    padding: 10px;
}

main {
    width: 60%;
    margin-top: 20px;
    margin-left: 20%;
}

#currentPage {
    color: red;
}

.paging{
    border: none;
    width: 35px;
    height: 30px;
    font-size: larger;
    margin: 10px 5px 20px 5px;
    background-color: #393f3f;
    color: whitesmoke;
}
.paging:hover{
    background-color: whitesmoke;
    color: black;
}

#pagingForm{
    text-align: center;
}

#backToSettings {
    margin-top: 20px;
    /*background: linear-gradient(#00E000, #008F00);*/
    color: white;
    font-size: 14px;
    background: linear-gradient(#00BF00, #008F00);
    border-radius: 25px;
    height: 40px;
}

img {
    width: 30px;
    height: 30px;
    padding-right: 20px;
}

span {
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
}

#userLine {
    display: inline-table;
    width: 100%;
    height: 40px;
    padding-top: 10px;
}

.userLineAttr {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    height: 30px;
}
#back {
    background-color: grey;
}