<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         id="WebApp_ID" version="3.0">
    <display-name>FinalProjectCoffeeMachine</display-name>
    <jsp-config>
        <taglib>
            <taglib-uri>customtags</taglib-uri>
            <taglib-location>/WEB-INF/tld/copyright.tld</taglib-location>
        </taglib>
    </jsp-config>

 <filter-mapping>
        <filter-name>LocaleFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CommandCheckingFilter</filter-name>
        <url-pattern>/coffee_machine</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CardCheckingFilter</filter-name>
        <url-pattern>/coffee_machine</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>OrderFilter</filter-name>
        <url-pattern>/coffee_machine</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>UserSessionFilter</filter-name>
        <url-pattern>/coffee_machine</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminSessionFilter</filter-name>
        <url-pattern>/coffee_machine</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>PageRedirectSecurityFilter</filter-name>
        <url-pattern>/page/*</url-pattern>
    </filter-mapping>


    
    <welcome-file-list>
        <welcome-file>/page/index.jsp</welcome-file>
    </welcome-file-list>

    <error-page>
        <error-code>500</error-code>
        <location>/page/error500.jsp</location>
    </error-page>

    <error-page>
        <error-code>404</error-code>
        <location>/page/error404.jsp</location>
    </error-page>

</web-app>
